# =========================
# Build
# =========================
bin/
obj/
out/

# =========================
# User-specific
# =========================
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VSCode / VS
# =========================
.vs/
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Database local
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# OS
# =========================
.DS_Store
Thumbs.db